<div class="info-window d-flex m-1">
  <div class="mx-2">
    <p><%= artwork.name %></p>
    <p><%= artwork.user.username %></p>
    <p>£ <%= artwork.rate %></p>
  </div>
  <%= link_to artwork_path(artwork) do %>
    <%= cl_image_tag artwork.photos.first.key,height: 100, width: 80, crop: :fill, class: 'window-photo' %>
  <% end %>
</div>
