<div class="container">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.pinimg.com/originals/4b/47/95/4b4795a58748405111bd7566b709eb52.jpg)">
    <h1>BookArts</h1>
      <div><%= form_tag artworks_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a artwork" %>
        <% end %>
      </div>
    </div>

  <div class="search-bar">
    <div id="map" class="my-4"
      style="height: 700px; width:400px"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
      <div class="search-bar-right-side">
        <div class="cards m-3">
          <% @artworks.each do |artwork| %>
            <% background_url = cl_image_path artwork.photos.first.key, height: 300, width: 500, crop: :fill %>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= background_url %>')">
              <p><%= link_to artwork.name, artwork_path(artwork) %></p>
              <p><span>£</span>
              <%= "#{artwork.rate}/month" %></p>
            </div>
          <% end %>
        </div>
      <div class="btn-create mx-3">
        <%= link_to 'Add a new artwork', new_artwork_path  %>
      </div>
    </div>
  </div>
</div>
