<div class="container justify-content-center navbar-margin">
  <div>
    <div class="art-info">
      <%= render 'carousel' %>
      <%# @artwork.photos.each do |photo| %>
        <%#= cl_image_tag photo.key, height: 500, width: 400, crop: :fill, class: "photo" %>
      <%# end %>
      <div class="art-info-description">
        <div class="name-card">
          <p>
          <span>
              <%= @artwork.name %>
            </span>
          &mdash; Owned by <%= @artwork.user.username %> &mdash;
          </p>
        </div>
        <p class="lightgray"> Rate £ <%= @artwork.rate %>/month</p>
        <p class="lightgray">Address: <%= @artwork.address %></p>
        <p class="description lightgray m-3"><%= @artwork.description %></p>
          <p class="m-2"><%= render "booking-form" %></p>
          <p class="m-2"><%= render "review" %></p>
      </div>
    </div>
  </div>
  <p class="m-3"><%= link_to 'Back', artworks_path, class: 'button' %></p>
</div>
</div>
