<%= render "navbar" %>
<div class="container">
  <% @artwork.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 500, width: 400, crop: :fill %>
  <% end %>
  <h1><%= @artwork.name %></h1>
  <h5>Owned by <%= @artwork.user.username %></h5>
  <p><%= @artwork.description %></p>
</div>

<%= simple_form_for [@artwork, @booking] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.button :submit %>
<% end %>
<%= link_to 'Back', artworks_path  %>

<%= render "footer" %>
