<div class="container justify-content-center">
  <div>
    <div class="art-info m-2">
      <% @artwork.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 500, width: 400, crop: :fill, class: "photo" %>
      <% end %>
      <h1 class="my-2"><%= @artwork.name %></h1>
      <h3>Owned by <%= @artwork.user.username %></h3>
      <p> Rate £ <%= @artwork.rate %>/month</p>
      <p>Address: <%= @artwork.address %></p>
      <p class="description"><%= @artwork.description %></p>
    </div>
    <div class="d-flex m-1">
      <div class="review my-2">
        <h3>Reviews</h3>
        <% @artwork.reviews.each do |review| %>
        <p><%= "Reviewer: #{review.booking.user.username}" %></p>
        <% counter = 0 %>
        <% 5.times do %>
        <i class="star-icon fa <%= review.rating > counter ? 'fa-star' : 'fa-star-o' %>"></i>
          <% counter += 1 %>
          <% end %>
          <%= review.content %>
          <% end %>
      </div>
      <div class="booking-form m-3">
        <h3>Book this artwork</h3>
        <%= simple_form_for [@artwork, @booking] do |f| %>
          <%= f.input :start_date %>
          <%= f.input :end_date %>
          <%= f.button :submit, class: 'button' %>
        <% end %>
      </div>
    </div>
    <%= link_to 'Back', artworks_path, class: 'button' %>
  </div>
</div>
