<div class="container navbar-margin">
  <h1><%= "#{current_user.username}'s Artworks" %></h1>
  <div class="cards">
    <% @my_artworks.each do |artwork| %>
        <% background_url = cl_image_path artwork.photos.first.key, height: 300, width: 500, crop: :fill %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= background_url %>')">
          <%= link_to artwork.name, artwork_path(artwork) %>
          <p><span>£</span>
          <%= artwork.rate %></p>
          <%= link_to "Edit", artworks_path(artwork) %>
          <%= link_to "Delete", artwork, method: :delete, data: {confirm: "Are you sure"} %>
        </div>
    <% end %>
  </div>
  <p class="my-4"><%= link_to 'Add a new artwork', new_artwork_path, class: 'button' %></p>
  <p><%= link_to "Back", artworks_path, class: 'button' %></p>
</div>
