<div class="container navbar-margin">
  <div>
    <h1><%= "#{current_user.username}'s Artworks" %></h1>
    <div class="artwork-cards">
      <% @my_artworks.each do |artwork| %>
        <% background_url = cl_image_path artwork.photos.first.key, height: 300, width: 500, crop: :fill %>
        <figure class="myartwork-card card--1" style="--image-src: url('<%= background_url %>')">
          <figcaption>
            <span class="info-card">
            <h4><%= link_to artwork.name, artwork_path(artwork) %></h4>
            <span><p><span>£</span>
              <%= artwork.rate %></p>
              <%= link_to "Edit", "#" %>
              <%= link_to "Delete", artwork, method: :delete, data: {confirm: "Are you sure"} %></span>
            </span>
          </figcaption>
        </figure>
      <% end %>
    </div>
    <p class="my-4"><%= link_to 'Add a new artwork', new_artwork_path, class: 'button', id: "sweet-alert-demo" %></p>
    <p><%= link_to "Back", artworks_path, class: 'button' %></p>
  </div>
</div>

