<div>
  <div class="accept">
    <%= simple_form_for(booking) do |f| %>
      <%= f.input :approval, input_html: { value: true }, as: :hidden%>
      <%= f.button :button, "Accept", class: 'button' %>
    <% end %>
  </div>
  <div class="decline">
    <%= simple_form_for(booking) do |f| %>
      <%= f.input :approval, input_html: { value: false }, as: :hidden %>
      <%= f.button :button, "Decline", class: 'button' %>
    <% end %>
  </div>
</div>
