<div class="confirm d-flex justify-content-center">
  <div class="accept">
    <%= simple_form_for(booking) do |f| %>
      <%= f.input :approval, input_html: { value: true }, as: :hidden%>
      <%= f.submit "Approve", class: 'button' %>
    <% end %>
  </div>
  <div class="decline mx-2">
    <%= simple_form_for(booking) do |f| %>
      <%= f.input :approval, input_html: { value: false }, as: :hidden %>
      <%= f.submit "Decline", class: 'button' %>
    <% end %>
  </div>
</div>
