<div class="container">
  <%= link_to 'Back', artworks_path, class: 'button' %>
  <div class="dashboard-cards m-3">
    <div class="request-info" >
      <h2>Booking requests</h2>
      <% @requests.each do |request| %>
        <div class="booking-card">
          <div>
            <% request.artwork.photos.each do |photo| %>
              <%= cl_image_tag photo.key,height: 250, width: 200, crop: :fill  %>
            <% end %>
          </div>
          <div class="card-text">
            <p><strong>Artwork: </strong>: <%= request.artwork.name %></p>
            <p><strong>Owner: </strong><%= request.artwork.user.username %></p>
            <p><strong>Price/month: </strong>£ <%= request.artwork.rate %></p>
            <p><strong>Booking Period: </strong><%= request.start_date %><span> - <%= request.end_date %></span></p>
            <p><strong>Status:</strong> 
            <% if request.approval == true%>
              Confirmed</p>
            <% elsif request.approval.nil? %>
              Pending</p>
            <% else %>
              Declined</p>
            <% end %>
            <% if Date.today < request.start_date %>
              <%= link_to "Delete", request, method: :delete, data: {confirm: "Are you sure"} %>
            <% end %>
            <%= link_to "Leave a review", new_booking_review_path(request) unless Date.today < request.end_date %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="booking-info">
      <h2>Bookings</h2>
      <% @my_bookings.each do |booking| %>
        <div class="booking-card">
          <div>
            <% booking.artwork.photos.each do |photo| %>
              <%= cl_image_tag photo.key,height: 250, width: 200, crop: :fill  %>
            <% end %>
          </div>
          <div class= "card-text">
           <p><strong>Artwork: </strong>:<%= booking.artwork.name %></p>
            <p><strong>Owner: </strong><%= booking.artwork.user.username %></p>
            <p><strong>Booking Period: </strong><%= booking.start_date %><span> - <%= booking.end_date %></p>
            <p><strong>Status: </strong> 
            <% if booking.approval == true %>
              Approved</p>
            <% elsif booking.approval == false %>
              Declined</p>
            <% else %>
              Pending</p>
            <% end %>
            <%= render "approval", booking: booking %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
